"*":
  "atom-ctags":
    cmdArgs: "--exclude=.git --exclude=.tags --exlucde .tags1"
  core:
    disabledPackages: [
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
      ".vscode"
      ".tags"
      ".pyc"
      ".apm"
      ".node-gyp"
      "blob-store"
      "storage"
      "compile-cache"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ctags"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    tabLength: 3
    tabType: "soft"
  "exception-reporting":
    userId: "c7bc6dce-b977-5957-6068-f54415bd48b0"
  "git-diff-details":
    closeAfterCopy: true
  "highlight-selected":
    lightTheme: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    tabLength: 3
