# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'body':
  # Cycle through items in pane
  'ctrl-h': 'pane:show-previous-item'
  'ctrl-l': 'pane:show-next-item'
  # Close
  'ctrl-q': 'core:close'
  'ctrl-w': 'core:close'
  # Save
  '; w': 'core:save'

'atom-text-editor.vim-mode.insert-mode':
  # j-j
  'j': 'exit-insert-mode-if-preceded-by-j'

'atom-text-editor.vim-mode:not(.insert-mode)':
  # V-split pane
  'ctrl-w v': 'pane:split-right-and-copy-active-item'
  # Unbind ;
  ';': 'unset!'
  # ';': 'vim-mode:repeat-find'
  # ',': 'vim-mode:repeat-find-reverse'

'.platform-win32 atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-]': 'atom-ctags:go-to-declaration',
  'ctrl-t': 'atom-ctags:return-from-declaration',
  'ctrl-r': 'atom-ctags:toggle-file-symbols'

'atom-workspace atom-text-editor':
  'ctrl-l': 'unset!'

'.platform-win32, .platform-linux':
  # Git add, commit, push
  'ctrl-shift-X': 'git-plus:add-all-commit-and-push'
