# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# j-j escape
'atom-text-editor.vim-mode.insert-mode':
  'j': 'exit-insert-mode-if-preceded-by-j'

'atom-text-editor.vim-mode:not(.insert-mode)':
  '; w': 'core:save'

'.platform-win32 atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-]': 'atom-ctags:go-to-declaration',
  'ctrl-t': 'atom-ctags:return-from-declaration',
  'ctrl-r': 'atom-ctags:toggle-file-symbols'
